@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background: url('assets/bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

/* UTILITIES */
.regular-txt {
  font-weight: 400;
}

.main-container {
  width: 300px;
  height: auto;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
}

/* INPUT-CONTAINER */
.input-container {
  position: relative;
  margin-bottom: 25px;
}

.ville-input {
  width: 100%;
  padding-left: 10px;
  padding: 10px 26px;
  border-radius: 99px;
  border: 4px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.2s border;
  padding-right: 50px;
}

.ville-input:focus {
  border: 3.5px solid rgba(0, 0, 0, 0.15);
}

.ville-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.rechercher-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

/* INFO MÉTÉO */
.info-meteo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.date-location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.localisation {
  display: flex;
  align-items: center;
  gap: 6px;
}

.localisation h4 {
  margin-left: 5px;
}

.resume-meteo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-meteo-img {
  width: 120px;
  height: 120px;
}

.resume-meteo-info {
  text-align: end;
}

.resume-conditions-container {
  display: flex;
  justify-content: space-between;
}

.condition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.condition-item span {
  font-size: 30px;
}

.prevision-items-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 15px;
}

.prevision-items-container::-webkit-scrollbar {
  height: 8px;
}

.prevision-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}

.prevision-items-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

.prevision-item {
  min-width: 70px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s background;
}

.prevision-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.prevision-item-img {
  width: 35px;
  height: 35px;
}

/* SECTION MESSAGE */
.section-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 25%;
}

.section-message img {
  height: 180px;
  width: fit-content;
}
